* {
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(./images/wallpaper.png);
 background-size: cover;
}


/* ////// titulo ////// */


.title {
  font-size: 5rem;
  text-align: center;
  max-width: 100%;
  color: #fff;
  animation: pulsate 0.11s ease-in-out infinite alternate;
  max-width: 100%;
}


@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
      0 0 40px rgb(252, 26, 26), 0 0 80px rgb(252, 26, 26),
      0 0 90px rgb(252, 26, 26), 0 0 100px rgb(252, 26, 26),
      0 0 150px rgb(252, 26, 26);
  }

  0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff,
      0 0 38px rgb(252, 26, 26), 0 0 73px rgb(252, 26, 26),
      0 0 80px rgb(252, 26, 26), 0 0 94px rgb(252, 26, 26),
      0 0 140px rgb(252, 26, 26);
  }
}



.song {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}



/*///// slide de imagenes /////*/

.slideshow {
  display: flex;
  width: 600px;
  height: 430px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

}

.slideshow img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .3s ease;
}

.slideshow img:hover {
  cursor: pointer;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

/*///// barra de navegacion /////*/

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  color: #fff;
  text-shadow: 0 0 15px #fff;
  transition: all 0.3s;
}


#navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}






.aboutUs {
  color: #fff;
  text-align: center;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0 0 10px #fff;
  margin-top: 25px;
}

.aboutUs em {
  color: red;
  font-weight: bold;
  text-shadow: 0 0 8px rgb(250, 7, 7);

}



#play-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 10px;
  color: transparent;
}