*
{
    background-color: black;
}

.title {
    font-size: 5rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    animation: pulsate 0.11s ease-in-out infinite alternate;
}


/* flickering animation and glow  */
@keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(252, 26, 26),
        0 0 80px rgb(252, 26, 26),
        0 0 90px rgb(252, 26, 26),
        0 0 100px rgb(252, 26, 26),
        0 0 150px rgb(252, 26, 26);
    
    }
    
    0% {
  
      text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px rgb(252, 26, 26),
      0 0 73px rgb(252, 26, 26),
      0 0 80px rgb(252, 26, 26),
      0 0 94px rgb(252, 26, 26),
      0 0 140px rgb(252, 26, 26);
  
  }
}


.mainVideo {
    margin-top: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}